@page
@model Group_Project1.Pages.Customers.CustomersPageModel
@{
}
<h1>:: Customer Main Page ::</h1>
<br />
<h2> Welcome @Model.CustomerName</h2>

<br />
<div class="row">

    <div class="col-sm-2">
        <p><a asp-page="/Customers/Login/ViewCustomer">User Profile Page</a></p>
    </div>

    <div class="col-sm-2">
        <p><a asp-page="/Customers/Login/Logout">Logout</a></p>
    </div>
</div>
<li><a asp-page="/UploadFile/UploadFile">UploadFile</a></li>