@page
@model Group_Project1.Pages.Customers.ViewCustomerModel
@{
}
<h1>:: Customer Profile Page ::</h1>
<br />
<h4>Customer : @Model.CustomerName</h4>

<div>
    <p><a asp-page="/Customers/Login/CustomersPage">Back to Main Page</a></p>
</div>


<div>
    <a target="_blank" asp-route-pdf="1">PDF Report</a>
</div>

