@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html>
<head>
    
        
    
</head>
<body>

    <nav>
        <br />
        
        <p1 style="margin: 1em 0 0.5em 0; color: #343434; font-weight: normal; font-family: 'Ultra', sans-serif; font-size: 36px; line-height: 42px; text-transform: uppercase; text-shadow: 0 2px white, 0 3px #777; margin: 150px;">Great Car Insurance Deals</p1>
        <br /><br />
        <p2 style="margin: 1em 0 0.5em 0; color: #343434; font-weight: normal; font-family: 'Ultra', sans-serif; font-size: 20px; line-height: 42px; text-transform: uppercase; text-shadow: 0 2px white, 0 3px #777; margin: 310px;">Sign Up Now</p2>
    </nav>
    <article>
        
        <iframe style="width: 100%; height: 1000px;"
                src="https://www.youtube.com/embed/d8XK0xntEIo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        
    </article>

    <script src="script.js"></script>
</body>
</html>